.popup {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 350px;
  width: max-content;
  height: fit-content;
  background-color: rgb(255,255,255);
  font-size: 28px;
}