.card {
    display: flex;
    width: 130px;
    height: 130px;
    margin: 0 0 25px 0;
    
    perspective: 600px;
}

.card:hover {
    cursor: pointer;
}

.cardFlipper {
    position: relative;
    
    width: 100%;
    height: 100%;
    
    transition: 0.6s;
    transform-style: preserve-3d;   
} 

.cardWrapperFront,
.cardWrapperBack {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

    backface-visibility: hidden;
}

.cardWrapperFront {
    box-sizing: border-box;
    border: 5px solid white;

    background-image: linear-gradient(45deg, #22ab93, #19668d);
    z-index: 2;
}

.cardWrapperBack {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    

    transform: rotateY(180deg);
}