
@import "./__popupWindow/__popupWindow";
@import "./__table/__table.scss";
@import "./__popupWindowHeader/__popupWindowHeader";
@import "./__popupWindowSubmitInput/_popupWindowSubmitInput";

.modalWindow {
    display: none;
    position: absolute;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}