include  ./components/card/card

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Memoji
        //link(rel="stylesheet" type="text/css" href="style.css")
    body
        header
            span Memoji
        
        main            
            div(id="root") 
        footer

        script(src="./src/script.js") 