include  ./components/card/card

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Memoji
        //link(rel="stylesheet" type="text/css" href="style.css")
    body
        header
            span Memoji
        
        main
            .modalWindow
                .modalWindow__popupWindow(class="afterGame")
                    .popupText
                    .button
                        span Try again
                .modalWindow__popupWindow(class="difficultyWindow")
                    ul
                        li
                            input(class="difficultyLevel" type="radio" name="difficultyLevel" value="low" checked="checked") 
                            span Low
                        li
                            input(class="difficultyLevel" type="radio" name="difficultyLevel" value="medium") 
                            span Medium
                        li
                            input(class="difficultyLevel" type="radio" name="difficultyLevel" value="hard") 
                            span High
                    .button
                        span Confirm
                .modalWindow__popupWindow(class="pauseWindow")
                    span Pause
                    .button
                        span Continue
                .modalWindow__popupWindow(class="recordsWindow")
                    span Records table
                    .button
                        span Back
            .menuBlock
                .menuBlock__burgerButton
                    .menuBlock__menuButtonBar
                    .menuBlock__menuButtonBar
                    .menuBlock__menuButtonBar
                .menuBlock__pauseButton
                    .menuBlock__pauseButtonBar
                    .menuBlock__pauseButtonBar
                ul(class="menuBlock__list")
                    li(class="menuBlock__listItem" id="newGame") Новая игра
                    li(class="menuBlock__listItem" id="difficulty") Уровень сложности
                    li(class="menuBlock__listItem" id="recordsTable") Таблица рекордов
            .playground
                .playground__cardsContainer(id="cards_container")            
                    +card({block: "playground", cardId: "card0"})
                    +card({block: "playground", cardId: "card1"})
                    +card({block: "playground", cardId: "card2"})
                    +card({block: "playground", cardId: "card3"})
                    +card({block: "playground", cardId: "card4"})
                    +card({block: "playground", cardId: "card5"})
                    +card({block: "playground", cardId: "card6"})
                    +card({block: "playground", cardId: "card7"})
                    +card({block: "playground", cardId: "card8"})
                    +card({block: "playground", cardId: "card9"})
                    +card({block: "playground", cardId: "card10"})
                    +card({block: "playground", cardId: "card11"})
                .playground__timerWrapper 01:00
                
            div(id="root") 
        footer

        script(src="./src/script.js") 