@import "./components/modalWindow/modalWindow.scss"; 
@import "./components/menuBlock/menuBlock.scss/";
@import "./components/playground/playground.scss";
@import "./components/button/button.scss";
@import "./components/card/card.scss";
@import "./components/userInfo/userInfo.scss";

* {
    margin: 0;
    padding: 0;
}

html  {
    width: 100%;
    height: 100%;
    background-color: #cfd0cf;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 0 40px 0;
    text-align: center;
    font: bold 42px Arial, Helvetica, sans-serif;
    line-height: 47px;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    font: bold 48px Arial, Helvetica, sans-serif;
    color:#434344;
}

li {
    list-style-type: none;
}

.popupText{
    display: flex;
    margin: 30px 0 0 0;
}

.correct {
    background-color: #5ad66f !important;
    cursor: default;
}

.incorrect{
    background-color: #f44336 !important;
    cursor: default;
}

.image_wrapper {
    margin: auto;
    font-size: 75px;
    line-height: 75px;
    height: max-content;
}

/*.card:hover .flipper,*/ .card.hover .flipper, .card .rotate {
    transform: rotateY(180deg);
}
